*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.faq{
    width:100%;
}
.faq a:link{
    text-decoration: none;
    color:black;
}
.accordion{
    width:100%;
}
.faq h1{
    color:#000000;
    font-style:normal;
    width:20em;
    margin-top:30px; 
    margin-bottom:40px;
    margin-left:180px;
    font-size:45px;
  }
  
.faq .accordion {
    color:white;
    text-align:left;
    background-color:#f99500;
    text-decoration:none;
    cursor:pointer;
    padding:10px;
    vertical-align:middle;
    margin:none;
    border-radius:10px;
    margin-top: 20px;
    border:none;
    padding: 2%;

}
.faq .active, .accordion:hover{
    background-color:#c08041;
}
.faq .sous{
    color:black;
    display:none;
    overflow:hidden;
    text-align:left;
    background-color:#f99500;
    text-decoration:none;
    line-height:30px;
    margin-bottom: 20px;
    border-radius:10px;
    padding: 5%;
}
.faq p{
    margin-left: 2px;
    margin-top:5px;
    margin-bottom:5px;
}

.faq .accordion:after{
    content: ''	\02795'';
    color:white;
    float: left;
    margin-left: 5px;
    margin-right: 5px;

}
.faq .active:after {
    content: "\2796";
    color:white;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}
.sous p{
    margin-left:10px;

}
