
.container0 {
  position: absoluted;
  top: 0px;
  margin-top: 10px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  
 
}


.container1 {
  margin: auto;
  padding: 30px;
  width: 75%;
  height: 100%;
  background-color: #FFF7EA;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 5px 4px rgba(112, 112, 122, 1);
  float: left;

}

.container2 {

  position: relative;
  width: 230px;
  height: 215px;
  border-radius: 400px;
  text-align: center;
  margin: auto;
  margin-top: 75px;
  margin-left: 900px;
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 50px 20px rgba(0,0,0,0);
  float: inline-end;
  background-color: #FFF7EA;
}

#taillegif {

  width: 230px;
  height: 215px;
}

.humeurkrobitxt{
float: right;
width: 100px;
height: 100px;


}
.textesousbarre {

  margin-top: -10px;
  margin-bottom: 15px;
  

}

progress[value] {
  -webkit-appearance: none;
  width: 484px;
  height: 39px;
  padding: 5px;


}

progress[value]::-webkit-progress-bar {
  background-color: #FB8966;
  border-radius: 10px;
}

progress[value]::-webkit-progress-value {
  background-color: #FA3A00;
  border-radius: 10px;
}

.positionicone {

  position: relative;
  margin-left: -20px;
}

.bi-heart-fill {
  color: black;
  font-size: 2em;
}

.bi-egg-fried {
  color: black;
  font-size: 2em;
  color: black;
  font-size: 2em;
}

@media (max-width: 850px) { 

.container1 {
  margin: auto;
  padding: 30px;
  width: 55%;
  height: 35%;
  background-color: #FFF7EA;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 5px 4px rgba(112, 112, 122, 1);
  float: left;
  

}

.container2 {

  position: relative;
  width: 115px;
  height: 107px;
  border-radius: 250px;
  text-align: center;
  margin: auto;
  margin-top: 75px;
  margin-left: 290px;
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 50px 20px rgba(0,0,0,0);
  float: inline-end;
  background-color: #FFF7EA;
  
}

progress[value] {
  -webkit-appearance: none;
  width: 200px;
  height: 30px;
  padding: 5px;

}

.textesousbarre {

  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 15px;

}


#taillegif {

  width: 115px;
  height: 107px;
}


}