@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
*{
    padding: 0;
    margin: 0;
    font-size: 105%;
}
body{
    background-color: rgba(255, 241, 164, 0.74);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}
h1 {
    color: chocolate;
    font-family: 'Rammetto One', cursive;
    text-align: center;
   } 

h3 {
   color: rgb(230, 171, 91);
   font-family: 'Rammetto One', cursive;
   text-align: justify;
     }

h4{
    color:burlywood;
    font-family: 'Rammetto One', cursive;
    text-indent: 20px; 
  }

h5{
    color:burlywood;
    font-family: 'Rammetto One', cursive;
    text-indent: 20px; 
  }
header{
    text-align: center;
    padding: 2px;
}
header li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}
header img{
    height: 200%;
    width: auto;
}
#logo{
    float: left;
}
header{
    border: solid 4px #f74600;
    height: 100px;
    background-color: rgb(165,101,0);    
    width: 100%;
}
header nav{
    height: 100%;
    display: flex;
}
header.menu-deroulant
{
    margin-left: 10%;
}
header nav >ul{
    padding-top: 2% ;
}
header a{
    text-decoration: none;
    color: #ffffff;
    margin: auto;
}
header nav ul li .menu-principal:hover a{
    color: #4C2A29;
}

header li img{
    width: 40px;
    float: right;
    padding: 5px;
}
header #mainNav input{
    background-color: #FFFFFF;
    border-color: white;
    border-radius: 45px;
    width: 200px;
    box-shadow: none;
    color: none;
    border-width: 0;
    padding: 5px;
    color: #EBAD5D;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
header #toggle{

    background-color: #FFFFFF;
    border-color: white;
    border-radius: 45px;
    width: 5%;
    border-width: 0;
    color: #EBAD5D;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}
header input::placeholder{
    color:#EBAD5D ;
}
header.deroulant>a{
    color: transparent;
}
header.deroulant{
    text-align: right ;
}
header .sous-menu{
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 4%;
    border:solid 2px #f74600;
    z-index: 1000;
    margin-top: 50px;
    margin-right: 200px;
}
header #mainNav >ul li:hover .sous-menu{
    animation-delay: 2s;
    display:inline;
}
header #mainNav{
    float: right;
    margin-right: 15%;
    
}
header .sous-menu li a{
    color: white;
}
header .sous-menu li{
    float: none;
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 90%;
    border: solid 2px #f74600;
    background-color: rgb(165,101,0);
    padding: 10px;
}
header .sous-menu li:hover{
    background-color: white;
}
header li:hover a{
    color:#4C2A29 ;
}
header .sous-menu a{
    border-bottom:none;
    text-align: center;
    padding: 5px;
    font-size: 16pt;
}
header.sous-menu{
    overflow:hidden;
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
main #title{
    margin: 2% 0;
    text-align:center;
    color:#4C2A29;
    font-family: Rammetto One, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 35pt;
}
main #body{
    margin-bottom:5%;
}
main a img{
    height: 10%;
    position: absolute;
    margin-left: 67%;
    margin-top: -1%;
}
.footerMenu{
    margin-bottom: 10px ;
    background-color: rgb(165,101,0);
    padding: 20px 15% 20px 20px;
    text-align: right ;
    
    border: solid 4px #f74600;
}
.footerMenu li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 16pt;
    
}
.footerMenu a{
    text-decoration: none;
    text-align: center ;
    color: #FFFFFF;
}
.footerMenu a:hover{

    color: #4C2A29 ;
}
.copyright{
    text-align: center ;
    margin-bottom: 10px;
}
@media screen and (max-width: 1370px) {

    header .sous-menu{
        top: 14%;
        right: 0%;
    }

}
@media screen and (max-width: 1290px) {

    header .sous-menu{
        top: 14%;
        right: -2%;
    }
    header .sous-menu li{
        font-size: 70%;
    }

}
@media screen and (max-width: 1190px) {
}
@media screen and (max-width: 1145px) {
    header nav{
        visibility: hidden;
    }
    header li{
        display: grid;
    }
}