form div input{
    display:flex!important
}
.form-control{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
    
@media (prefers-reduced-motion:reduce){
    .form-control{
        transition:none
    }
}
    .form-control:focus{
        color:#212529;
        background-color:#fff;
        border-color:#EBAD5D;
        outline:0;box-shadow:0 0 0 .25rem rgba(76,42,41,.25)
    }
    .form-control::-webkit-date-and-time-value{
        height:1.5em
    }
    .form-control::placeholder{
        color:#6c757d;opacity:1
    }
    .form-control:disabled,.form-control[readonly]{background-color:#e9ecef;opacity:1}.form-control::-webkit-file-upload-button{
        padding:.375rem .75rem;
        margin:-.375rem -.75rem;
        -webkit-margin-end:.75rem;
        margin-inline-end:.75rem;
        color:#212529;
        background-color:#e9ecef;
        pointer-events:none;
        border-color:inherit;
        border-style:solid;
        border-width:0;
        border-inline-end-width:1px;
        border-radius:0;
        -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
    .form-control::file-selector-button{
        padding:.375rem .75rem;
        margin:-.375rem -.75rem;
        -webkit-margin-end:.75rem;
        margin-inline-end:.75rem;
        color:#212529;
        background-color:#e9ecef;
        pointer-events:none;
        border-color:inherit;
        border-style:solid;
        border-width:0;
        border-inline-end-width:1px;
        border-radius:0;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
    @media (prefers-reduced-motion:reduce){
        .form-control::-webkit-file-upload-button{
            -webkit-transition:none;
            transition:none
        }
        .form-control::file-selector-button{
            transition:none
        }
    }
    .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button{
        background-color:#dde0e3
    }
    .form-control:hover:not(:disabled):not([readonly])::file-selector-button{
        background-color:#dde0e3
    }
    .form-control::-webkit-file-upload-button{
        padding:.375rem .75rem;
        margin:-.375rem -.75rem;
        -webkit-margin-end:.75rem;
        margin-inline-end:.75rem;
        color:#212529;
        background-color:#e9ecef;
        pointer-events:none;
        border-color:inherit;
        border-style:solid;
        border-width:0;
        border-inline-end-width:1px;
        border-radius:0;
        -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
    @media (prefers-reduced-motion:reduce){
        .form-control::-webkit-file-upload-button{
            -webkit-transition:none;
            transition:none
        }
    }
    .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button{
        background-color:#dde0e3
    }
    textarea.form-control{
        min-height:calc(1.5em + .75rem + 2px)
    }
